<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">

  <meta charset="UTF-8">
  <title>widget-ulst</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

  <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <!--tick mark blackspace-->
      <p class="navbar-text pull-left">
        <a href="page-ulst.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </p>

      <!--heading on the nav bar-->
      <p class="navbar-header pull-left">
        <a class="navbar-brand thick" href="../page/page-ulst.html">
          <b>Widgets</b>
        </a>
      </p>

      <!--tick mark-->
      <p class="navbar-text pull-right">
        <a href="widget-choose.html" class="navbar-link">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </p>

    </div>
  </nav>

  <!--Content Part-->

  <div class="container">
    <h1>GIZMODO</h1>
    <h3>US Senate Reaches Compromise on Emergency Zika Funding</h3>
    <img></img>
    <p>In February, the <span>White House formally asked Congress for $1.8 billion</span>dollars to help combat the Zika virus this summer.
    Now, the Senate has worked out a bipartisan deal will allocate $1.1 billion in emergency funding.</p>

    <h2>Man in Wingsuit Files Straight Through a Ring of Fire</h2>
    <iframe></iframe>
    <p>Flying in a wingsuit? That's just not enough anymore. Anyone</p>
  </div>



  <!-- Footer -->

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a href="../user/profile.html">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </p>

    </div>
  </nav>
</body>
</html>
