<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">

  <meta charset="UTF-8">
    <title>page-list</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

  <link href="../css/style.css" rel="stylesheet"/>

</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <!--tick mark blackspace-->
      <p class="navbar-text pull-left">
        <a href="../user/profile.html" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </p>

      <!--heading on the nav bar-->
      <p class="navbar-header pull-left">
        <a class="navbar-brand thick" href="../page/page-ulst.html">
          <b>Pages</b>
        </a>
      </p>

      <!--tick mark-->
      <p class="navbar-text pull-right">
        <a href="page-new.html" class="navbar-link">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </p>

    </div>
  </nav>

  <!--Content Part-->

  <div class="container" style="margin-top:90px;">
    <table class="table table-responsive no-border">
      <tbody>
      <tr>
        <td><a href="#">Blog Post</a></td>
        <td><a href="website-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a></td>
      </tr>
      <tr>
        <td><a href="#">Blogs</a></td>
        <td><a href="website-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a></td>
      </tr>
      <tr>
        <td><a href="#">Home</a></td>
        <td><a href="website-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a></td>
      </tr>
      <tr>
        <td><a href="#">About</a></td>
        <td><a href="website-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a></td>
      </tr>
      <tr>
        <td><a href="#">Contact Us</a></td>
        <td><a href="website-edit.html">
          <span class="glyphicon glyphicon-cog"></span>
        </a></td>
      </tr>
      </tbody>
    </table>
  </div>


  <!-- Footer -->

  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a href="../user/profile.html">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </p>

    </div>
  </nav>
</body>
</html>
