<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <!--backward mark -->
        <p class="navbar-text pull-left">
          <a [routerLink]="['/page-ulst']" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>

        <!--heading on the nav bar-->
        <p class="navbar-header pull-left">
          <a class="navbar-brand thick" [routerLink]="['/website-new']">
            <b>Pages</b>
          </a>
        </p>

        <!--tick mark-->
        <p class="navbar-text pull-right">
          <a [routerLink]="['/page-new']" class="navbar-link">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </p>
      </div>
      <div class="col-xs-12 col-md-9">
        <p class="navbar-text pull-left">
          <a [routerLink]="['/page-ulst']" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>

        <!--heading on the nav bar-->
        <p class="navbar-header pull-left">
          <a class="navbar-brand thick" [routerLink]="['/website-new']">
            <b> New Page</b>
          </a>
        </p>

        <!--tick mark-->
        <p class="navbar-text pull-right">
          <a [routerLink]="['/website-ulst']" class="navbar-link">
            <span class="glyphicon glyphicon-ok"></span>
          </a>
        </p>

      </div>
    </div>
  </div>
</nav>

<!--Sidebar content-->
<div class="container-fluid" style="margin-top: 90px;">
  <div class="row">
    <nav class="col-lg-3">
      <table class="table table-responsive no-border">
        <tbody>
        <tr>
          <td><a href="#">Blog Post</a></td>
          <td><a [routerLink]="['/page-edit']">
            <span class="glyphicon glyphicon-cog"></span>
          </a></td>
        </tr>
        <tr>
          <td><a href="#">Blogs</a></td>
          <td><a [routerLink]="['/page-edit']">
            <span class="glyphicon glyphicon-cog"></span>
          </a></td>
        </tr>
        <tr>
          <td><a href="#">Home</a></td>
          <td><a [routerLink]="['/page-edit']">
            <span class="glyphicon glyphicon-cog"></span>
          </a></td>
        </tr>
        <tr>
          <td><a href="#">About</a></td>
          <td><a [routerLink]="['/page-edit']">
            <span class="glyphicon glyphicon-cog"></span>
          </a></td>
        </tr>
        <tr>
          <td><a href="#">Contact Us</a></td>
          <td><a [routerLink]="['/page-edit']">
            <span class="glyphicon glyphicon-cog"></span>
          </a></td>
        </tr>
        </tbody>
      </table>
    </nav>
    <div class="col-lg-9 visibe-phone">
      <form>
        <div class="form-group">
          <label for="page-name">Name</label>
          <input type="text" class="form-control" id="page-name" placeholder="Alice">
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input class="form-control" id="title" placeholder="Page Title">
        </div>
      </form>

    </div>

  </div>
</div>

<!-- Footer -->

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['../user/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
